div{
	margin-top: 15px;
	margin-right:15px;
	margin-bottom:15px;
	margin-left:15px;
	transform: rotate(10deg);
	-moz-transform: rotate(5deg);
}

span{
	font-weight:bold;
	padding: 5px 10px 5px 10px;
	margin: 5px 5px 5px 5px;
	color: rgb(255,0,63
	border-width: 0px;
}

