div{
	font-size: 10px;
	color: red;
	margin-top: 10px;
	margin-right:5px;
	margin-bottom:10px;
	margin-left:5px;
	transform: rotate(10deg);
}

span{
	padding-top:4px;
	padding-right:5px;
	padding-bottom:6px;
	padding-left:7px;
	color: #ffee00;
	width: 30px;
	border-width: 0px;
}

